<div class="srar-container">
  <!-- Top 4 Main Navigation Tabs Bar -->
  <!-- <div class="main-tabs-bar glass-card mb-6 p-2">
    <div class="flex items-center gap-2">
      <a
        routerLink="dashboard"
        routerLinkActive="main-tab-active"
        class="main-tab-btn"
      >
        Dashboard
      </a>

      <a
        routerLink="transaction"
        routerLinkActive="main-tab-active"
        class="main-tab-btn"
      >
        Transaction
      </a>

      <a
        routerLink="history"
        routerLinkActive="main-tab-active"
        class="main-tab-btn"
      >
        History
      </a>

      <a
        routerLink="masters"
        routerLinkActive="main-tab-active"
        class="main-tab-btn"
      >
        Masters
      </a>
    </div>
  </div> -->

  <!-- Child Route Outlet -->
  <router-outlet></router-outlet>
</div>
