<div class="p-2 sm:p-3">
    <app-paginate-table
        title="Refits Master"
        description="Manage system refits"
        [showHeaderSection]="true"
        [addButtons]="[{ label: 'Add refits', key: 'add' }]"
        (addButtonClick)="openAddRefit()"
        [showImport]="true"
        [showExport]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [tableLoading]="isLoading"
        [showSearch]="true">
    </app-paginate-table>
</div>

<app-refit-add *ngIf="isFormOpen" [editMode]="isEditMode" [viewMode]="isViewMode" [unitData]="selectedRow"
    (close)="closeAddForm()">
</app-refit-add>

<app-reusable-delete-dialog [open]="isDeleteDialogOpen" [id]="deleteRow?.id" [name]="deleteRow?.name"
    entityType="Refit" [loading]="isDeleteLoading" (confirm)="confirmDelete()" (cancel)="closeDeleteDialog()">
</app-reusable-delete-dialog>
