<app-toast></app-toast>
<app-form-card
  title="IN-378 PART-II"
  smallTitle="(REPORT OF AIR TEST OF WT COMPARTMENTS)"
  headerColor="#0f172a"
  textColor="#ffffff"
  (action)="openApprovalWorkflow()"
>
  <!-- FORM CONTENT -->
  <form [formGroup]="form" class="p-0">
    <!-- ROW 1 -->
    <div class="grid grid-cols-4 gap-3">
      <!-- SHIP STATUS -->
      <div class="flex flex-col gap-1">
        <label class="form-label" for="ship_id">Ship</label>
        <app-select
          formControlName="ship_id"
          [options]="shipOptions"
          placeholder="--Select--"
          class="w-full"
        >
        </app-select>
      </div>
      <div class="flex flex-col gap-1">
        <label class="form-label" for="initiated_by">Initiated By</label>
        <app-input formControlName="initiated_by" [disabled]="true">
        </app-input>
      </div>
      <app-year-picker
        label="Year"
        [required]="true"
        [min]="2000"
        [max]="2026"
        formControlName="year"
      >
      </app-year-picker>

      <app-calendar
        label="Date of Return"
        formControlName="date_of_return"
      ></app-calendar>

      <app-select
        [label]="'Period'"
        formControlName="period"
        [options]="[
          { label: 'Half Yearly(June)', value: 'half_yearly_june' },
          { label: 'Half Yearly(December)', value: 'half_yearly_december' },
        ]"
        placeholder="--Select--"
        class="w-full"
      >
      </app-select>
    </div>
    <div class="col-span-2 mt-2">
      <!-- ROW COUNT INPUT -->
      <div *ngIf="!viewMode" class="mb-4 flex items-center space-x-4">
        <label class="text-sm font-medium text-gray-700">
          Enter Total Number of Rows:
        </label>
        <input
          type="number"
          [min]="editMode ? initialTotalRows : 1"
          max="99"
          class="w-20 px-3 py-2 border rounded-md"
          [value]="totalRows"
          (input)="onReportRowChanges($event)"
        />
      </div>
      <!-- TABLE -->
      <div
        class="overflow-x-auto"
        [class.overflow-y-auto]="totalRows > 5"
        [class.max-h-96]="totalRows > 5"
      >
        <app-reusable-input-table [data]="reportData" [columns]="reportColumns">
          <ng-template #inputTpl let-row let-index="index" let-field="field">
            <input
              class="w-full px-3 py-2 border rounded-md"
              [value]="row[field]"
              (input)="
                handleTableChange(index, field, $any($event.target).value)
              "
            />
          </ng-template>
        </app-reusable-input-table>
      </div>
    </div>
  </form>

  <!-- FOOTER -->
  <div
    formFooter
    class="flex gap-5"
    [ngClass]="viewMode ? 'justify-start' : 'justify-center'"
  >
    <app-reusable-button label="Back" variant="back" (clicked)="handleBack()">
    </app-reusable-button>
    <app-loading-button
      *ngIf="!viewMode"
      label="Clear"
      [color]="'red'"
      [icon]="restartIcon"
      (clicked)="clear()"
    ></app-loading-button>
    <app-loading-button
      *ngIf="!viewMode"
      label="Save draft"
      [color]="'blue'"
      [icon]="draftIcon"
      [loading]="draftLoading"
      (clicked)="handleSave('draft')"
    ></app-loading-button>

    <app-loading-button
      *ngIf="!viewMode"
      label="Submit for approval"
      [color]="'green'"
      [icon]="saveIcon"
      [loading]="saveLoading"
      (clicked)="handleSave('save')"
    ></app-loading-button>
  </div>
</app-form-card>
<app-approval-work-flow
  *ngIf="showApprovalWorkflowPopup"
  [showUserPopuphead]="showApprovalWorkflowPopup"
  [workflowTrialId]="rowId || form.get('id')?.value || ''"
  [rowData]="editDataDetails"
  [context]="editDataDetails"
  (showUserPopupChange)="onApprovalPopupChange($event)"
>
</app-approval-work-flow>
