.loader-overlay {
    position: fixed;
    inset: 0;
    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /* Link the animation named 'spin' over a 2-second duration, infinitely */
    animation: spin 2s linear infinite;
}

/* Define the 360-degree rotation path */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
