# Virtual Environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Database
*.sqlite3
*.sqlite3-journal

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# IDE Settings
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Logs and media
*.log
*.pot
local_settings.py
media/
.env
