.actions-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.btn-close-routine {
  background: rgba(125, 44, 195, 0.86);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  cursor: pointer;
}

.btn-raise-fuss {
  background: #7f1d1d;
  color: white;
  border: 1px solid #991b1b;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  cursor: pointer;
}
