:host {
  display: block;
}

.donut-wrapper {
  position: relative;
}

.donut-canvas {
  width: 100%;
  height: 100%;
}

.percentage{
  color: var(--text-primary);
font-family: Poppins;
font-size: 1.82713rem;
font-style: normal;
line-height: normal;
text-transform: capitalize;
}

.label {
  color: #22C55E;
font-family: Poppins;
font-size: 0.85269rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.center-content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.status {
  color: #1fd162;
  font-size: 0.85rem;
  font-weight: 700;
  margin-top: 4px;
}

.desc {
color: #6B7280;
text-align: center;
font-family: Inter;
font-size: 0.60906rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;

 width: 70%;
  white-space: normal;
  word-break: break-word;
}
