<button type="button" (click)="closeModal.emit()" aria-label="Close"
  class="text-slate-400 hover:text-white transition-colors cursor-pointer absolute right-6 top-6 sm:right-8 sm:top-8 z-10 flex items-center justify-center">
          <app-icon name="x" [size]="20" [strokeWidth]="2" />

</button>
<div class="space-y-4 text-[12px]" style="min-width: 900px; max-width: 1000px; margin:0 auto;">
  <section>

    <div class="absolute inset-0]">
    </div>

    <div class="grid">

      <div class="image-section">
        <img src="assests/images/dummyuser.avif" alt="Officer" />
      </div>

      <!-- Right Content -->
      <div class="details">
        <h2 class="header-title">
          Rank First Last Name
        </h2>

        <div class="details-grid">

          <div class="info-card">
            <label for="t">Personal Number</label>
            <p>XXXXXXXXXX</p>
          </div>

          <div class="info-card">
            <label  for="t">Designation</label>
            <p>XXXXXXXXXX</p>
          </div>

          <div class="info-card">
            <label  for="t">Rank</label>
            <p>XXXXXXXXXX</p>
          </div>

          <div class="info-card">
            <label  for="t">NCN Mail ID</label>
            <p>XXXXXXXXXX</p>
          </div>

          <div  class="info-card">
            <label for="t">Phone Number</label>
            <p>XXXXXXXXXX</p>
          </div>

          <div class="info-card">
            <label for="sd">Email ID</label>
            <p>XXXXXXXXXX</p>
          </div>

        </div>

        <div class="info-card mt-4">
          <label  for="t">Summary</label>

          <p class="summary-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
          </p>
        </div>
      </div>

    </div>
  </section>

</div>
