<app-form-card-dialog [open]="true" [title]="title" [subtitle]="subtitle" [submitLabel]="editMode ? 'Update' : 'Save'"
    cancelLabel="Cancel" (close)="closeDialog()" (submit)="handleSave()" (cancel)="closeDialog()"
    [showFooter]="viewMode ? false : true" [loading]="loading">

    <form [formGroup]="form">
        <div class="grid grid-cols-3 gap-4">
            <app-select [label]="'Ship'" formControlName="ship" [options]="shipOptions" [required]="true">
            </app-select> 
            <app-input label="Boat OEM" formControlName="boat_oem" [required]="true"></app-input>
            <app-input label="Registration No." formControlName="registration_no" [required]="true"></app-input>
            <app-input label="Type Of Boat" formControlName="type_of_boat" [required]="true"></app-input>
            <app-input label="Boat Builder" formControlName="boat_builder"></app-input>
            <app-input label="Built Year" formControlName="built_year" type="number" [required]="true"></app-input>

            <app-input label="Date of Supply" formControlName="date_of_supply" type="date"></app-input>
            <app-select [label]="'Unit'" formControlName="unit" [options]="unitOptions"></app-select>
            <app-input label="Date Of Reappropriation" formControlName="date_of_reappropriation" type="date"></app-input>
            <app-input label="Engine Serial P" formControlName="engine_serial_p"></app-input>
            <app-input label="Engine Serial S" formControlName="engine_serial_s"></app-input>
            <app-input label="Engine Serial C" formControlName="engine_serial_c"></app-input>
            <app-input label="Remarks" formControlName="remarks"></app-input>

            <div class="flex items-center gap-2 pt-4">
                <input type="checkbox" formControlName="active" id="active_boat" class="h-4 w-4 rounded border-gray-600 bg-gray-800 text-blue-600 focus:ring-blue-500 cursor-pointer" />
                <label for="active_boat" class="text-sm font-semibold text-white cursor-pointer select-none">Active</label>
            </div>
        </div>
    </form>

</app-form-card-dialog>