.master-card {

  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  overflow: hidden;
}

.master-card-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-shrink: 0;
  border-bottom: 1px solid var(--border-primary);
}

.master-card-header h2 {
  margin: 0;

  color: var(--text-primary);

  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.header-actions {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 12px;
}

.step-btn {
  border: none;
  border-radius: 10px;

  padding: 8px 16px;

  color: #ffffff;

  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  cursor: pointer;

  transition: opacity 0.2s ease;
}

.step-btn:hover {
  opacity: 0.9;
}

.step1 {
  background: #1069ab;
}

.step2 {
  background: #1f6b42;
}

.master-card-body {
  flex: 1;

  padding: 12px;

  overflow: auto;
}

/* Optional Scrollbar */

.master-card-body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.master-card-body::-webkit-scrollbar-track {
  background: transparent;
}

.master-card-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
