<div class="mx-auto w-full max-w-[1800px] p-2 sm:p-3">
  <app-paginate-table
        [showHeaderSection]="true"
        [title]="activeTab.label"
        [showSearch]="true"
        [rowData]="rowData"
        (addButtonClick)="triggerOilModal($event.key, $event?.rowData, 'Satellite Unit')"
        [addButtons]="addButtons"
        [url]="'/master/satellite-units/'"
        [columnDefs]="columnOilData"
        [showPagination]="true"
      >
      </app-paginate-table>
</div>

<app-add-form
  *ngIf="showCreateLayout"
  [open]="showCreateLayout"
  [formConfig]="formConfigForNewDetails"
  [formData]="editFormData"
  [isEditMode]="isEditMode"
  (onSubmit)="handleSubmit($event)"
  (onOpenChange)="showCreateLayout = $event"
  [fromTitle]="title">
</app-add-form>

<!-- Reusable Delete Dialog -->
<app-reusable-delete-dialog
  *ngIf="showDeleteDialog"
  [open]="showDeleteDialog"
  [name]="deleteName"
  [entityType]="'Satellite Unit'"
  [loading]="deleteLoading"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteDialog()">
</app-reusable-delete-dialog>
