<div
  class="modal-backdrop"
   tabindex="0" role="button" (keyup.enter)="closeAmendModal()" >

  <div
    class="modal glass-card"
     tabindex="0" role="button" (keyup.enter)="$event.stopPropagation()" >

    <div class="modal-header">

      <span>Amend Nomenclature Dates</span>

      <button
        type="button"
        class="close-btn"
        (click)="closeAmendModal()">
        X
      </button>

    </div>

    <form [formGroup]="form">

      <div class="modal-body">


        <div>
          <label for="nomenclature-name" class="readonly-field-label">Nomenclature Name</label>
          <input id="nomenclature-name" type="text" readonly formControlName="name" class="readonly-field-input" />
        </div>

        <div>
          <label for="planned-start-date" class="readonly-field-label">Planned Start Date</label>
          <input id="planned-start-date" type="date" formControlName="plannedStartDate" class="date-field-input" />
        </div>

        <div>
          <label for="planned-end-date" class="readonly-field-label">Planned End Date</label>
          <input id="planned-end-date" type="date" formControlName="plannedEndDate" class="date-field-input" />
        </div>

      </div>

      <div class="modal-footer">

        <button
          type="button"
          class="secondary-btn"
          (click)="closeAmendModal()">
          Close
        </button>

        <button
          type="button"
          class="submit-button"
          (click)="saveChanges()">
          Save
        </button>

      </div>

    </form>

  </div>

</div>
