/* .etma-table-wrap {
  overflow-x: auto;
} */

 fieldset {
  min-width: 0;
}

.etma-table-wrap {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  display: block;
  min-width: 0;
}

.etma-table-wrap table th,
.etma-table-wrap table td {
  border: 1px solid var(--border-primary);
}

