<app-toast></app-toast>
<app-form-card title="IN-305" headerColor="#0f172a" textColor="#ffffff" (action)="openApprovalWorkflow()">
  <!-- FORM CONTENT -->
  <form [formGroup]="form" class="p-0">
    <!-- ROW 1 -->
    <div class="grid grid-cols-2 gap-3">
      <app-select [label]="'Ship'" formControlName="ship_id" [options]="shipOptions" placeholder="--Select--"
        class="w-full">
      </app-select>

      <app-calendar label="Date of Return" formControlName="date_of_return"></app-calendar>
    </div>

    <!-----------------------------------TABLE -------------------------------------->

    <!-- ROW COUNT INPUT -->
    <div *ngIf="!viewMode" class="mt-4 flex items-center space-x-4">
      <label class="text-sm font-medium text-white">
        Enter Total Number of Rows:
      </label>

      <input type="number" min="1" max="99"
        class="w-20 px-3 py-1.5 rounded-lg border border-white/20 bg-white/10 text-white focus:border-white/50 focus:outline-none transition"
        [value]="totalRows" (input)="onOpsRowCountChange($event)" (change)="onOpsRowCountChange($event)" />
    </div>

    <!-- TABLE -->
    <div class="overflow-x-auto mt-5" [class.overflow-y-auto]="totalRows > 5" [class.max-h-96]="totalRows > 5">
      <app-reusable-input-table [data]="tableData" [columns]="tableColumns" [isReadonly]="viewMode">
        <ng-template #inputTpl let-row let-index="index" let-field="field">
          <input
            class="w-full px-3 py-1.5 rounded-lg border border-white/20 bg-white/10 text-white placeholder:text-white/40 focus:border-white/50 focus:outline-none transition"
            [value]="row[field]" (input)="
                  handleOpsTableChange(index, field, $any($event.target).value)
                " />
        </ng-template>
      </app-reusable-input-table>
    </div>

    <div class="grid grid-cols-3 gap-3 mt-5">
      <app-input label="Forward To" formControlName="forward_to"> </app-input>
      <!------------------------------------------ File Upload -->

      <app-file-upload [label]="'Signature of Ship Staff'" (fileSelected)="onFileChange($event!, 'shipStaff')">
      </app-file-upload>


      <app-file-upload label="Signature of HOD" (fileSelected)="onFileChange($event!, 'hod')">
      </app-file-upload>

    </div>
  </form>

  <!-- FOOTER -->
  <div formFooter class="flex gap-5" [ngClass]="viewMode ? 'justify-start' : 'justify-center'">
    <app-reusable-button label="Back" variant="back" (clicked)="handleBack()">
    </app-reusable-button>
    <app-loading-button *ngIf="!viewMode" label="Clear" [color]="'red'" [icon]="restartIcon"
      (clicked)="clear()"></app-loading-button>
    <app-loading-button *ngIf="!viewMode" label="Save draft" [color]="'blue'" [icon]="draftIcon"
      [loading]="draftLoading" (clicked)="handleSave('draft')"></app-loading-button>

    <app-loading-button *ngIf="!viewMode" label="Submit for approval" [color]="'green'" [icon]="saveIcon"
      [loading]="saveLoading" (clicked)="handleSave('save')"></app-loading-button>
  </div>
</app-form-card>
<app-approval-work-flow *ngIf="showApprovalWorkflowPopup" [showUserPopuphead]="showApprovalWorkflowPopup"
  [workflowTrialId]="rowId || form.get('id')?.value || ''" [rowData]="editDataDetails" [context]="editDataDetails"
  (showUserPopupChange)="onApprovalPopupChange($event)">
</app-approval-work-flow>